@charset "UTF-8";

				* {
			  box-sizing: border-box;
			}
			body {
			  font-size: 14px;
			}
			.total {
			  width: 100%;
			  height: 1080px;
			  background: rgba(255,255,255,1);
			  opacity: 1;
			  position: absolute;
			  top: 0px;
			  left: 0px;
			  overflow: hidden;
			}
			.naver {
			  width: 600px;
			  height: 80px;
			  background: url("${pageContext.request.contextPath}/resources/join/img/naver_join.png");
			  background-repeat: no-repeat;
			  background-position: center center;
			  background-size: cover;
			  opacity: 1;
			  position: absolute;
			  top: 448px;
			  left: 660px;
			  overflow: hidden;
			  border-radius: 10px;
			}
			.kakao {
			  width: 600px;
			  height: 80px;
			  background: url("${pageContext.request.contextPath}/resources/join/img/kakao_join.png");
			  background-repeat: no-repeat;
			  background-position: center center;
			  background-size: cover;
			  opacity: 1;
			  position: absolute;
			  top: 552px;
			  left: 660px;
			  overflow: hidden;
			  border-radius: 10px;
			}
			.titleName {
			  width: 350px;
			  color: rgba(0,0,0,1);
			  position: absolute;
			  top: 329px;
			  left: 800px;
			  font-family: Roboto;
			  font-weight: Bold;
			  font-size: 36px;
			  opacity: 1;
			  text-align: left;
			}
			.logo {
			  width: 69px;
			  height: 69px;
			  background: url("${pageContext.request.contextPath}/resources/join/img/logo.png");
			  background-repeat: no-repeat;
			  background-position: center center;
			  background-size: cover;
			  opacity: 1;
			  position: absolute;
			  top: 217px;
			  left: 925px;
			  overflow: hidden;
			}